
	<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown">Módulo Producción </h1>
        </div>
    </div>
    <!-- Page Header End -->

        <!-- Solucion Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>-->
                    <h1 class="display-5 mb-4">Solución Producción</h1>
                    <p class="mb-4" align="justify">El módulo de producción del ERP es esencial para cualquier empresa que se dedique a la fabricación o elaboración de bienes o productos. Este módulo permite a las empresas tener un control completo y preciso de sus procesos, desde la planificación hasta la entrega final del producto. Con el módulo de producción, las empresas pueden optimizar sus procesos, mejorar la eficiencia y reducir los costos, lo que se traduce en una mayor rentabilidad y una mejor gestión del negocio. ¡Descubre cómo el módulo de producción del ERP puede transformar tu empresa y mejorar tus procesos hoy mismo!
                    </p>
                    <a href="{#FS_PATH#}documentos/PRESENTACION_KAPITAL_PRODUCCION.pdf" target="_blank" class="btn btn-primary py-3 px-5 mt-3">
                        <i class="fa fa-download"></i>    Descargar Brochure
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-file-text-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ventas y Compras</h4>
                                        <p class="mb-3">Automatizamos la contabilidad al registrar las compras y ventas en el sistema, actualizando el inventario al segundo de cada movimiento.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-line-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Informes</h4>
                                        <p class="mb-3">Generando informes configurando su formato de entrada y salida, en función de requisitos legales del país.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-area-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Balances y Sri</h4>
                                        <p class="mb-3">Estado de resultados, balance general, balance de comprobación, libro diario, libro mayor, estado de resultados por centro de costos, flujo de efectivo, cambios de patrimonio y sri: 103, 104, 107 y ats.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-hand-pointer-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Huellas</h4>
                                        <p class="mb-3">Detección de huellas dactilares.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="row g-4">
                                <div class="feature-box border rounded p-6">
                                    <i class="fa fa-envelope-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Facturación Y Documentación Electrónica</h4>
                                    <p class="mb-3">Permite realizar operaciones de manera digital desde un software, con la autorización del sri y su documentación respectiva.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-th-large fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Inventario</h4>
                                    <p class="mb-3">Realiza inventarios, que permite el seguimiento, control y supervisión para su fácil manejo.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-check-square-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Índices</h4>
                                    <p class="mb-3">Check list control de calidad en cada proceso protocolo de pruebas.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-cogs fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Módulo De Producción</h4>
                                    <p class="mb-3">Costos a detalle ordenes de producción ordenes de trabajo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Solucion End -->