
	<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown">Módulo Compañias Transporte </h1>
        </div>
    </div>
    <!-- Page Header End -->

        <!-- Solucion Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>-->
                    <h1 class="display-5 mb-4">Solución Compañias Transporte</h1>
                    <p class="mb-4" align="justify">El módulo para compañías de transporte del ERP está diseñado específicamente para atender las necesidades y desafíos únicos de las compañías de transporte. Con su tecnología avanzada y funciones específicas, este módulo permite a las compañías de transporte llevar un control eficaz de todas sus operaciones, desde la planificación y asignación de rutas hasta la gestión de recursos y la contabilidad. Con el módulo para compañías de transporte del ERP, las compañías pueden maximizar su eficiencia y mejorar su rentabilidad, todo en tiempo real.
                    </p>
                    <a href="{#FS_PATH#}documentos/PRESENTACION_KAPITAL_COMPAÑIA_DE_TRANSPORTE.pdf" target="_blank" class="btn btn-primary py-3 px-5 mt-3">
                        <i class="fa fa-download"></i>    Descargar Brochure
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-file-text-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ventas y Compras</h4>
                                        <p class="mb-3">Automatizamos la contabilidad al registrar las compras y ventas en el sistema, actualizando el inventario al segundo de cada movimiento.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-line-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Informes</h4>
                                        <p class="mb-3">Generando informes configurando su formato de entrada y salida, en función de requisitos legales del país.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-area-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Balances y Sri</h4>
                                        <p class="mb-3">Estado de resultados, balance general, balance de comprobación, libro diario, libro mayor, estado de resultados por centro de costos, flujo de efectivo, cambios de patrimonio y sri: 103, 104, 107 y ats.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-paperclip fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Guías De Remisión Con origen y destino con remitente principal y secundarios</h4>
                                        <p class="mb-3">Con este módulo, es posible crear y gestionar guías de remisión personalizadas con información detallada sobre el origen y destino del envío, así como el remitente principal y secundarios involucrados en el proceso.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="row g-4">
                                <div class="feature-box border rounded p-6">
                                    <i class="fa fa-envelope-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Facturación Y Documentación Electrónica</h4>
                                    <p class="mb-3">Permite realizar operaciones de manera digital desde un software, con la autorización del sri y su documentación respectiva.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-th-large fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Inventario</h4>
                                    <p class="mb-3">Realiza inventarios, que permite el seguimiento, control y supervisión para su fácil manejo.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-road fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Generación De Manifiestos Y Rutas De Distribución</h4>
                                    <p class="mb-3">Es una herramienta esencial para empresas que necesitan organizar y planificar la entrega de sus productos a sus clientes de manera eficiente. Con este módulo, es posible generar manifiestos de carga y rutas de distribución para optimizar el tiempo y los recursos necesarios en la entrega de los productos.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-map-marker fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Geolocalización</h4>
                                    <p class="mb-3">El módulo de Geolocalización permite la ubicación de clientes, productos y pedidos en tiempo real, lo que mejora la eficiencia en la entrega y el servicio al cliente. También permite la gestión de rutas de distribución y la optimización de los recursos logísticos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Solucion End -->