
	<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown">Módulo Veterinarias </h1>
        </div>
    </div>
    <!-- Page Header End -->

        <!-- Solucion Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>-->
                    <h1 class="display-5 mb-4">Solución Veterinarias</h1>
                    <p class="mb-4" align="justify">Bienvenido al módulo veterinarias de nuestro sistema ERP. Este módulo está diseñado específicamente para atender a las necesidades únicas de las mascotas de tus clientes. Con él, podrás llevar un control preciso de tus pacientes, citas y tratamientos médicos, así como también de tus inventarios de medicamentos y suministros. Además, podrás automatizar tus procesos de facturación y cobros, lo que te permitirá ahorrar tiempo y aumentar la eficiencia en tu negocio. Con este módulo, podrás centrarte en lo que realmente importa: cuidar a tus pacientes y mejorar la atención que brindas a tus clientes.
                    </p>
                    <a href="{#FS_PATH#}documentos/PRESENTACION_KAPITAL_VETERINARIAS.pdf" target="_blank" class="btn btn-primary py-3 px-5 mt-3">
                        <i class="fa fa-download"></i>    Descargar Brochure
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-file-text-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ventas y Compras</h4>
                                        <p class="mb-3">Automatizamos la contabilidad al registrar las compras y ventas en el sistema, actualizando el inventario al segundo de cada movimiento.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-line-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Informes</h4>
                                        <p class="mb-3">Generando informes configurando su formato de entrada y salida, en función de requisitos legales del país.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-area-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Balances y Sri</h4>
                                        <p class="mb-3">Estado de resultados, balance general, balance de comprobación, libro diario, libro mayor, estado de resultados por centro de costos, flujo de efectivo, cambios de patrimonio y sri: 103, 104, 107 y ats.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-calendar fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Agendamiento Médico Hospitalización Control De Mascotas</h4>
                                        <p class="mb-3">El módulo de agendamiento médico, hospitalización y control de mascotas es una herramienta útil para la gestión de consultorios y hospitales veterinarios. Permite agendar citas, llevar un registro de hospitalización y control de mascotas, lo que facilita el seguimiento y la atención de los pacientes.</p>
                                    </div>
                                </div>
								<div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-download fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Descargo De Insumos Utilizados En La Atención Por Consulta Y Hospitalización</h4>
                                        <p class="mb-3">El módulo de descargo de insumos permite llevar un registro detallado y automatizado de los insumos utilizados en la atención por consulta y hospitalización, mejorando la eficiencia y reduciendo errores en la gestión de inventario.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-paw fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Generación E Impresión De Recetas</h4>
                                        <p class="mb-3">Puede incluir información detallada sobre medicamentos y dosis recomendadas para cada animal, lo que facilita la atención de pacientes y la gestión de su historial médico.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-camera fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Dermogramas Para Canes Y Felinos</h4>
                                        <p class="mb-3">El módulo de Dermogramas para Canes y Felinos permite registrar y hacer seguimiento de la salud dermatológica de las mascotas, con la posibilidad de agregar imágenes y notas para una mejor evaluación por parte del veterinario.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-history fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Historial De Consultas</h4>
                                        <p class="mb-3">Este módulo permite llevar un registro detallado del historial médico y de peluquería de una mascota, incluyendo fechas, tratamientos, diagnósticos y otros datos relevantes para su seguimiento y cuidado.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check-square-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Control De Eutanasia</h4>
                                        <p class="mb-3">El módulo de Control de Eutanasia permite llevar un registro y control sobre las autorizaciones de eutanasia en mascotas, con la generación de formatos de autorización correspondientes para un proceso seguro y regulado.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="row g-4">
                                <div class="feature-box border rounded p-6">
                                    <i class="fa fa-envelope-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Facturación Y Documentación Electrónica</h4>
                                    <p class="mb-3">Permite realizar operaciones de manera digital desde un software, con la autorización del sri y su documentación respectiva.</p>
                                </div>

                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-th-large fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Inventario</h4>
                                    <p class="mb-3">Realiza inventarios, que permite el seguimiento, control y supervisión para su fácil manejo.</p>
                                </div>

                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-scissors fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Peluquería</h4>
                                    <p class="mb-3">El módulo de peluquería de mascotas es una herramienta que permite la gestión eficiente de citas, control de stock y ventas, y seguimiento de clientes y mascotas en el negocio de peluquería y cuidado de animales.</p>
                                </div>

                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-send fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Envío De Recordatorios Para Consultas, Vacunaciones, Desparasitaciones Y Por Cumpleaños</h4>
                                    <p class="mb-3">El módulo de Envío de Recordatorios permite a las clínicas veterinarias enviar notificaciones por correo electrónico o mensaje de texto a los clientes para recordarles sus próximas consultas, vacunaciones, desparasitaciones o felicitarlos en su cumpleaños.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-thermometer-three-quarters fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Asignación Y Control De Dosis Asignadas Al Tratamiento Otorgado En Hospitalización</h4>
                                    <p class="mb-3">Es una herramienta que permite el registro y seguimiento preciso de las dosis asignadas y administradas a los pacientes durante su tratamiento hospitalario, optimizando la gestión y la calidad de atención médica.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-clipboard fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Gestor Documental</h4>
                                    <p class="mb-3">El módulo de gestión documental permite adjuntar exámenes y otros documentos a las consultas y hospitalizaciones de las mascotas para un mejor seguimiento y organización de la información en clínicas veterinarias.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-print fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Impresión De Formatos Autorizados</h4>
                                    <p class="mb-3">Este módulo permite imprimir formatos de autorizaciones y consentimientos para peluquería, consulta y hospitalización en clínicas veterinarias, asegurando que el propietario de la mascota haya dado su consentimiento para los tratamientos necesarios.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-cog fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Generador De Cotizaciones En Cada Consulta</h4>
                                    <p class="mb-3">El módulo de generador de cotizaciones permite a los veterinarios generar una cotización para cada consulta de mascotas, incluyendo los servicios y tratamientos recomendados con sus respectivos costos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Solucion End -->