
	<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown">Módulo Clinicas </h1>
        </div>
    </div>
    <!-- Page Header End -->

        <!-- Solucion Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>-->
                    <h1 class="display-5 mb-4">Solución Clinicas</h1>
                    <p class="mb-4" align="justify">La gestión efectiva de los procesos comerciales es esencial para el éxito de cualquier empresa. En este módulo del ERP, nos enfocamos en brindar soluciones integrales que permitan a nuestros clientes llevar un control preciso de sus operaciones de ventas, desde la gestión de clientes y proveedores hasta la realización de pedidos y facturación. Con nuestro módulo comercial, podrá optimizar su tiempo y esfuerzo, mejorar la eficiencia de sus operaciones y tomar decisiones oportunas para impulsar su crecimiento. ¡Descubra cómo nuestro módulo comercial puede transformar su empresa hoy mismo!.
                    </p>
                    <a href="{#FS_PATH#}documentos/PRESENTACION_KAPITAL_CLINICAS.pdf" target="_blank" class="btn btn-primary py-3 px-5 mt-3">
                        <i class="fa fa-download"></i>    Descargar Brochure
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-file-text-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ventas y Compras</h4>
                                        <p class="mb-3">Automatizamos la contabilidad al registrar las compras y ventas en el sistema, actualizando el inventario al segundo de cada movimiento.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-line-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Informes</h4>
                                        <p class="mb-3">Generando informes configurando su formato de entrada y salida, en función de requisitos legales del país.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-area-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Balances y Sri</h4>
                                        <p class="mb-3">Estado de resultados, balance general, balance de comprobación, libro diario, libro mayor, estado de resultados por centro de costos, flujo de efectivo, cambios de patrimonio y sri: 103, 104, 107 y ats.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-address-card-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Admisión</h4>
                                        <p class="mb-3">Ficha de ingreso, cobros (alta paso a nota de entrega), imprimibles.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-calendar-plus-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ingreso Consulta Externa</h4>
                                        <p class="mb-3">Agendamiento (calendario), formulario consulta externa, carga y descarga de medicación, pedidos de laboratorio, pedidos de imagen, adjuntos, impresión formularios modelo MSP, receta, certificado médico.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="row g-4">
                                <div class="feature-box border rounded p-6">
                                    <i class="fa fa-envelope-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Facturación Y Documentación Electrónica</h4>
                                    <p class="mb-3">Permite realizar operaciones de manera digital desde un software, con la autorización del sri y su documentación respectiva.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-th-large fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Inventario</h4>
                                    <p class="mb-3">Realiza inventarios, que permite el seguimiento, control y supervisión para su fácil manejo.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-plus-square fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Ingreso a Emergencia</h4>
                                    <p class="mb-3">Formulario 008, carga y descarga de medicación, pedidos laboratorio, pedidos imagen, adjuntos, paso a hospitalización, impresión formularios modelo MSP, receta, certificado médico.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-plus-circle fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Ingreso Hospitalización</h4>
                                    <p class="mb-3">Formulario 008, formulario anamnesis (003), formulario protocolo, formulario interconsulta, formulario ingesta y excreta, carga y descarga de medicación, notas médicos y para enfermeras, pedidos de laboratorio y de imagen, formulario histopatológico, adjuntos, impresión formularios modelo MSP, receta, certificado médico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Solucion End -->