
	<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown">Módulo Restaurantes </h1>
        </div>
    </div>
    <!-- Page Header End -->

        <!-- Solucion Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!--<p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>-->
                    <h1 class="display-5 mb-4">Solución Restaurantes</h1>
                    <p class="mb-4" align="justify">El módulo de restaurantes de nuestro sistema ERP está diseñado específicamente para satisfacer las necesidades y desafíos únicos que enfrentan los restaurantes en la gestión de su día a día. Con su interfaz intuitiva y fácil de usar, este módulo permite a los gerentes de restaurantes tener una visión completa y en tiempo real de sus operaciones, desde la gestión de inventario, la planificación de mesas, el control de ordenes de pedido en cocina y facturación. Al automatizar y optimizar estos procesos, los restaurantes pueden aumentar la eficiencia y mejorar la satisfacción del cliente. ¡Descubre cómo nuestro módulo de restaurantes puede ayudar a tu negocio a alcanzar su máximo potencial!.
                    </p>
                    <a href="{#FS_PATH#}documentos/PRESENTACION_KAPITAL_RESTAURANTES.pdf" target="_blank" class="btn btn-primary py-3 px-5 mt-3">
                        <i class="fa fa-download"></i>    Descargar Brochure
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-file-text-o fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ventas y Compras</h4>
                                        <p class="mb-3">Automatizamos la contabilidad al registrar las compras y ventas en el sistema, actualizando el inventario al segundo de cada movimiento.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-line-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Informes</h4>
                                        <p class="mb-3">Generando informes configurando su formato de entrada y salida, en función de requisitos legales del país.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-area-chart fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Balances y Sri</h4>
                                        <p class="mb-3">Estado de resultados, balance general, balance de comprobación, libro diario, libro mayor, estado de resultados por centro de costos, flujo de efectivo, cambios de patrimonio y sri: 103, 104, 107 y ats.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-inbox fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Apertura De Caja</h4>
                                        <p class="mb-3">Es una herramienta imprescindible para cualquier negocio que maneje dinero en efectivo, ya que permite llevar un control detallado de las operaciones que se realizan en caja y garantiza la transparencia y la confiabilidad en los procesos financieros.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-money fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Ingreso De Dinero a Caja</h4>
                                        <p class="mb-3">El módulo de Ingreso de Dinero a Caja proporciona una forma fácil y segura de registrar todas las transacciones de entrada de efectivo.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-television fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Pantalla Con Valores Por Cobrar y Para Dar Vuelto</h4>
                                        <p class="mb-3">Con la pantalla de valores por cobrar y para dar vuelto, los negocios pueden mejorar su servicio al cliente, reducir errores y aumentar su rentabilidad.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-cutlery fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Selección De Platos, Despliegue De Precios De Cada Uno Y Clasificación De Platos</h4>
                                        <p class="mb-3">Con este módulo, los clientes podrán seleccionar fácilmente sus platos favoritos, realizar pedidos de manera precisa y personalizada, y mejorar su experiencia en el establecimiento.</p>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-desktop fa-3x text-dark mb-3"></i>
                                        <h4 class="mb-3">Modelo Ajustado De Ticket Y Comanda</h4>
                                        <p class="mb-3">Personaliza el diseño y contenido del ticket y comanda, agiliza la gestión de pedidos, reduce errores y mejora la comunicación entre personal y clientes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="row g-4">
                                <div class="feature-box border rounded p-6">
                                    <i class="fa fa-envelope-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Facturación Y Documentación Electrónica</h4>
                                    <p class="mb-3">Permite realizar operaciones de manera digital desde un software, con la autorización del sri y su documentación respectiva.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-th-large fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Inventario</h4>
                                    <p class="mb-3">Realiza inventarios, que permite el seguimiento, control y supervisión para su fácil manejo.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-hand-pointer-o fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Punto De Venta Touch</h4>
                                    <p class="mb-3">Esta aplicación permite a los empleados procesar transacciones de venta de forma rápida y eficiente, a través de una interfaz táctil fácil de usar.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-paypal fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Multiples Formas De Pago</h4>
                                    <p class="mb-3">Con este módulo, los clientes pueden elegir entre diferentes opciones de pago, como efectivo, tarjeta de crédito, transferencia bancaria, entre otros, lo que les brinda mayor comodidad y flexibilidad.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-usd fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Salidas de Dinero</h4>
                                    <p class="mb-3">Con este módulo, es posible llevar un registro detallado de todas las salidas de dinero, así como la descripción y categorización de cada gasto.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-cloud fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Almacenamiento, Edición Y Selección De Clientes</h4>
                                    <p class="mb-3">Con este módulo, los negocios pueden mejorar la fidelidad de sus clientes y aumentar la satisfacción del servicio al cliente.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-ticket fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Cierre De Caja Con Impresión De Ticket Y Reporte</h4>
                                    <p class="mb-3">Este módulo permite la reconciliación de todas las transacciones de ventas y cobros en un día determinado, lo que facilita la gestión y control de los ingresos y egresos.</p>
                                </div>
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-print fa-3x text-dark mb-3"></i>
                                    <h4 class="mb-3">Conexión Con Impresora Térmica Y Cajón De Dinero</h4>
                                    <p class="mb-3">Con este módulo, es posible conectar la impresora térmica y el cajón de dinero al sistema de punto de venta para imprimir los tickets de venta y abrir el cajón de dinero de forma automática.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Solucion End -->